{
    "exclude": [
        "node_modules",
        "**/*.test.js",
        "example",
        "dist",
        "webpack.config.js",
        "coverage"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "cache": true,
    "check-coverage": true
}
